/*  
	Main Color:
	Secondary Color 1:
	Secondary Color 2:
		

    */

body{
	background-color: #c5a4a3;
}

table, td {
  border: 1px solid black;
  background-color: #a3c4c5;
}
th {
	background-color: #c5a3b3;
}
tr:nth-child(even) {background-color: #a3c5b5;}

input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid blue;
}

